<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TelemetryServer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <TelemetryServer.My.MySettings>
            <setting name="Port" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="SocketReceiveTimeout" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="SocketSendTimeout" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="RecvTimer" serializeAs="String">
                <value>15000</value>
            </setting>
            <setting name="SendTimer" serializeAs="String">
                <value>5000</value>
            </setting>
        </TelemetryServer.My.MySettings>
    </applicationSettings>
</configuration>